#container {
  width: 90%;
  display: flex;
  margin: 0 auto;
}
#container button {
  width: 20%;
  background: #c91E00;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  border-top-left-radius: 0; 
  border-bottom-left-radius: 0;
  cursor: pointer;
  transition: filter .3s;
  height: 40px;
}

#container button:hover {
  filter: brightness(110%);
}
