header {
  background: #C91E00;
  width: 100%;
  display: block;
  padding: 20px 60px;
  border-bottom: 4px solid #961700;
}

header h1, header h2 {
  color: #fff;
}

main {
  width: 60%;
  max-width: 1120px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  margin-top: 100px;
  border: .5px solid #dcdce6;
  box-shadow: 0 0 100px rgba(0,0,0,.1);
  transform: scale(1.1);
}

main h2 {
  color: #333;
  padding: 10px;
}

input {
  width: 100%;
  height: 40px;
  color: #961700;
  border: 1px solid #dcdce6;
  padding: 0 24px;
  border-radius: 8px;
  transition: box-shadow .1s;
}

input:focus {
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

ul {
  margin: 0 auto;
  list-style: none;
}
